<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> et merci pour vos achats !</h1>
    <h2>Voici un récapitulatif de vos achats.</h2>
    <% @user.cart.in_cart.each do |item| %>
        <div class="row">
            <div class="col-md-2">
              <%= image_tag item.picture, width: "150"%>
            </div>
            <div class="col-md-9">
                <%= item.title %><br>
            </div>
        </div>
		<br/>
    <% end %>
	<h4>Vous avez payé un total de <%= @user.cart.total %>€</h4>
    <br />
    <br />
    <h3> À très vite sur Cat-Roulette !</h3>
  </body>
</html>
