<!-- jumbotron -->
<div class="jumbotron">
  <h1 class="display-4">Cat-roulette</h1>
  <p class="lead">Les chatte les plus douce de france</p>
</div>

<!-- Index -->
<div class="row">
<% i = 0%>
<% @items.each do |item|%>
<div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <%= image_tag item.picture, height: "200px;" %>
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to item.title, item_path(item)%></a>
                </h4>
                <h5><%= item.price%></h5>
                <p class="card-text"><%= item.description%></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">★ ★ ★ ★ ☆</small>
              </div>
            </div>
          </div>
          <% i = i + 1%>
<%end%>
</div>